.display-hr-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    left:-10px;
    position: relative;
}

.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* border: 1px solid #ccc;
    padding: 5px; */
}

.btn-default {
    background-color: chartreuse;
    cursor: pointer;
    padding: 0 3px;
    border: 1px solid black;
    border-radius: 5px;
}